.donate-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('http://wiki.teltek.es/download/thumbnails/32790/AtlassianFoundation.png');
    background-color:#cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.8;
    filter:alpha(opacity=80);
}

#donate-popup header {
    border-bottom: 1px solid #cccccc;
}
#donate-popup footer {
    background-color: #f5f5f5;
}
#donate-popup footer div {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}
#donate-popup footer div span.powered-by {
    float: left;
    line-height: 50px;
    display:block;
    color: #999999;
    margin-right: 8px;
}